"# Python" 
"__pycache__/" 
"*.pyc" 
"*.pyo" 
"*.pyd" 
".Python" 
"env/" 
"venv/" 
".venv/" 
"ENV/" 
"CACHED" 
"CANCELED" 
"ERROR" 
"*.tmp" 
"*.temp" 
".DS_Store" 
"Thumbs.db" 
"weekly_report.csv" 
"weekly_report.pdf" 
"[auth]" 
"[backend" 
"[insider-threat-app" 
venv/
.DS_Store
