global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'threat-detection-app'
    static_configs:
      - targets: ['threat-detection-app:8501']
    metrics_path: '/_stcore/metrics'

  - job_name: 'postgres'
    static_configs:
      - targets: ['db:5432']
    
  - job_name: 'redis'
    static_configs:
      - targets: ['redis:6379']